<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <div class="card my-3">
      <div class="card-body">
        <h4 class="mt-4 mb-2 text-primary"><%= ask.title %></h4>
        <p><%= ask.description %></p>
      </div>
      <div class="card-footer">
        <textarea placeholder="Digite sua resposta..." class="form-control mb-2" name="answer-body" id="" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn-primary">Responder</button>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>
