<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <div class="card my-3">
      <div class="card-body">
        <h4 class="mt-4 mb-2 text-primary"><%= ask.title %></h4>
        <p><%= ask.description %></p>
      </div>
      <div class="card">
        <% if(answers.length > 0){ %>
        <h3 class="mx-3 text-primary">Respostas</h3>
        <div class="card-body">
          <% answers.forEach(answer =>{ %>
          <p><%=answer.body%></p>
          <p><%=answer.createdAt.toDateString()%></p>
          <%}) %>
        </div>
        <% } else {%>
        <h5 class="mx-3 my-2 text-dark">
          Esta pergunta ainda não foi respondida.
        </h5>
        <%}%>
      </div>
      <div class="card-footer">
        <form method="POST" action="/to-answer">
          <textarea
            placeholder="Digite sua resposta..."
            class="form-control mb-2"
            name="answerBody"
            id=""
            cols="30"
            rows="10"
          ></textarea>
          <input type="hidden" name="askId" id="" value="<%=ask.id%>" />
          <button type="submit" class="btn btn-primary">Responder</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>
