<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <h3 class="mt-4 mb-2 text-primary">Últimas perguntas feitas</h3>
    <% asks.forEach(ask => { %>
    <div class="card my-3">
      <div class="card-body">
        <h4>
          <a href="/asks/<%-ask.id%>" class="text-decoration-none"
            ><%= ask.title %></a
          >
        </h4>
        <p><%= ask.description %></p>
      </div>
      <div class="card-footer">
        <a href="/asks/<%-ask.id%>"
          ><button class="btn btn-primary">Responder</button></a
        >
      </div>
    </div>
    <%}) %>
  </div>
</body>
<%- include('partials/footer.ejs') %>
